<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-driver-heading" jhiTranslate="infringementwebApp.driver.home.createOrEditLabel">Create or edit a Driver</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.nationalIdNumber" for="field_nationalIdNumber">National Id Number</label>
                    <input type="text" class="form-control" name="nationalIdNumber" id="field_nationalIdNumber"
                           formControlName="nationalIdNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.cellNumber" for="field_cellNumber">Cell Number</label>
                    <input type="text" class="form-control" name="cellNumber" id="field_cellNumber"
                           formControlName="cellNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.province" for="field_province">Province</label>
                    <input type="text" class="form-control" name="province" id="field_province"
                           formControlName="province"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.suburb" for="field_suburb">Suburb</label>
                    <input type="text" class="form-control" name="suburb" id="field_suburb"
                           formControlName="suburb"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.streetName" for="field_streetName">Street Name</label>
                    <input type="text" class="form-control" name="streetName" id="field_streetName"
                           formControlName="streetName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.streetPropertyNumber" for="field_streetPropertyNumber">Street Property Number</label>
                    <input type="text" class="form-control" name="streetPropertyNumber" id="field_streetPropertyNumber"
                           formControlName="streetPropertyNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="infringementwebApp.driver.unitNumber" for="field_unitNumber">Unit Number</label>
                    <input type="text" class="form-control" name="unitNumber" id="field_unitNumber"
                           formControlName="unitNumber"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
