<mat-drawer-container class="mat-drawer-container landing-page">

    <!---->
    <mat-drawer-content class="mat-drawer-content ng-star-inserted">
        <div id="top" class="p-3 header-section">
            <div class="theme-container">
                <div fxlayout="row wrap" class="content"
                    style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                    <div fxflex="100" class="py-5" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                        <h1>Manage your infringements smartly.</h1>
                        <h4 class="mt-3">Pay and receive your infringement tickets via your phone, you can also monitor
                            demerit points smartly via your phone by simply installing the infringement app on your
                            phone. As soon as an new infringment is created you will receive an email, whatsapp or sms,
                            you can then chose to pay from your phone or nominate another driver or elect to contest the
                            infringement.</h4>
                        <div class="py-5">
                            <button routerLink="drivers" mat-raised color="primary">View Infringements</button>
                            <a mat-raised color="accent" routerLink="downloadapp" 
                                class="mat-focus-indicator uppercase mx-2 mat-raised-button mat-button-base mat-accent"
                                tabindex="0" aria-disabled="false"><span class="mat-button-wrapper">Download App
                                    Now</span>
                                <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                <div class="mat-button-focus-overlay"></div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>

        <mat-toolbar class="mat-toolbar copyright mat-toolbar-single-row">
            <div class="theme-container">
                <div fxlayout="row" fxlayout.xs="column" fxlayoutAlign="space-between center">
                    <p ngclass.xs="mt-1">Copyright © 2020 All Rights Reserved</p>
                    <p>Designed &amp; Developed by <a mat-button="" href="http://bpmsaga.com/"
                            class="mat-focus-indicator mat-button mat-button-base" tabindex="0"
                            aria-disabled="false"><span class="mat-button-wrapper">C. Mashiri</span>
                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a> | <a routerLink="infringements">Staff</a></p>
                </div>
            </div>
        </mat-toolbar>
    </mat-drawer-content>
    <!---->
</mat-drawer-container>